.container_cases_grid {
	display: grid;
	grid-template-columns: 1fr 3.0366fr;
	grid-auto-rows: auto;
	padding: calc(var(--density_ds) * 0.6em);
	gap: calc(var(--density_ds) * 0.6em);
	min-height: 100vh;
	max-width: 1500px;
	margin: auto;
}

.hdr_box {
	grid-column: 1;
	grid-row: 1;
}

.ftr_box {
	grid-column: 1;
	grid-row: -1;
}

.row_view_case {
	grid-column: 2;
}

@media (width < 768px) {
	.container_cases_grid {
		display: flex;
		flex-direction: column;
	}

	.hdr_box {
		margin-bottom: calc(var(--density_ds) * 2.4em);
		margin-right: calc(var(--density_ds) * 1.8em);
	}

	.row_view_case {
		margin-bottom: calc(var(--density_ds) * 2.4em);
	}

	.ftr_box {
		align-self: auto;
		margin-top: auto;
		margin-right: calc(var(--density_ds) * 1.8em);
	}
}