.wrapper-l-box {
	display: flex;
	flex-direction: column;
}

.i-box {
	display: flex;
	flex-direction: column;
	gap: calc(var(--density_ds) * 1em);

	img,
	video {
		width: 100%
	}
}

.btn-line {
	color: rgba(var(--graphite-color-RGB));
	background-color: rgba(var(--overcast-color-RGB));
	padding: 0 calc(var(--density_ds) * 0.15em);
	align-self: start;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.3s ease, background-color 0.3s ease;
}

.btn-line:hover {
	color: rgba(var(--citrus-color-RGB));
	background-color: rgba(var(--sunset-color-RGB));
	transition: color 0s ease, background-color 0s ease;
}

.sec-text {
	color: rgba(var(--graphite-color-RGB));
}